    <div class="footer">
        <a href="https://www.instagram.com/epsilon_not0/" target="_blank"> <img class="fb" src="Image/facebook.png" alt=""></a>
        <a href="https://github.com/Hacker-Nishant" target="_blank"><img class="git" src="Image/github.png" alt=""></a>
        <a href="https://www.linkedin.com/in/nishant-patel-4b8b5120b/" target="_blank"><img class="in" src="Image/linkedin (1).png" alt=""></a>
        <p class="copy"> © 2020-24 weather.org</p>
        <p class="love">Made with 💖 by NISHANT</p>
    </div>
    
    <script src="/app.js"></script>

</body>

</html>